<nav class="navbar navbar-expand-lg navbar-light bg-light" [ngClass]="{'fixed-top': currentSection !== 'home'}">
    <div class="container">
        <a class="navbar-brand" (click)="navigateTo('home')">Belen Carrion</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class = "navbar-nav flex-row ml-md-auto d-none d-md-flex">
                <li class="nav-item" *ngFor="let item of sections" (click)="navigateTo(item)" [ngClass]="{'active': currentSection === item}">
                    <a class="nav-link">  {{ item | titlecase }} </a>
                </li>
            </ul>   
        </div>
    </div>
</nav>