.navbar-collapse {
    flex-grow: 0;
}

.navbar.fixed-top {
  border-bottom: 1px solid #eaeaea;
}

.navbar:not(.fixed-top){
  background-color: transparent !important;

  .navbar-brand, .nav-link, .nav-item{
    color:white;
  }
}

.navbar{
  z-index: 999;

  .nav-item {
    padding-left: 0.75vw;
    padding-right: 0.75vw;
    cursor: pointer;
  }

  .navbar-brand{
    font-family: 'Yeseva One';
  }

  .active {
    background: linear-gradient(120deg, var(--color-yellow) 0%, var(--color-yellow) 100%);
    background-repeat: no-repeat;
    background-size: 100% 2px;
    background-position: 0 100%;
  }

}