<div class="topnav navbar" [ngClass]="{'fixed-top': currentSection !== 'home', 'responsive': isMenuOpen }">
  <a class="navbar-brand" (click)="navigateTo('home')">Belen Carrion</a>
  <div class="spacer"></div>
  <a class="nav-link" *ngFor="let item of sections" (click)="navigateTo(item)" [ngClass]="{'active': currentSection === item}">
    {{ item | titlecase }}
  </a>
  <a class="icon" (click)="toggleMenu()">
    <span class="material-symbols-outlined">
      {{ isMenuOpen ? 'close' : 'menu' }}
    </span>
  </a>
</div>

