section {
  background-color: #F7F8F9;
  clip-path: polygon(0 0, 100% 10vh, 100% calc(100% - 10vh), 0 100%);

  padding-top:80px;
  padding-bottom:80px;

  @media only screen and (min-width: 768px) {
      padding:80px;

      .container{
        max-width: 650px;
      }
  }

  #skills-container{
    --auto-grid-min-size: 70px;
    display: grid;
    grid-gap: 0 0.75rem;
    grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size), 1fr));
    box-sizing: border-box;
    justify-content: center;
    align-content: center;
  }

}
