:root{
    --color-purple: #845EC2;
    --color-purple2: #D65DB1;
    --color-pink: #FF6F91;
    --color-orange: #FF9671;
    --color-yellow: #FFC75F;
    --color-yellow2: #F9F871;
    --color-light-grey: #eaeaea;
    --color-light-grey2: #f8f9fa;

    --navbar-height: 50px;
    --navbar-height-negative: -50px;
}

$navbar-height: 50px;

$purple: #845EC2;
$purple2: #D65DB1;
$pink: #FF6F91;
$orange: #FF9671;
$yellow: #FFC75F;
$yellow2: #F9F871;
