.container{
	background: linear-gradient(45deg, var(--color-yellow2), var(--color-yellow), var(--color-orange), var(--color-pink), var(--color-purple2), var(--color-purple));
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 50vw;
    padding:50px;
    border-radius: 5px;
    margin:10px auto;

    h1::after{
      width: 0;
      height: 0;
      display: none;  
    }
}