.container{
	background: linear-gradient(45deg, var(--color-yellow2), var(--color-yellow), var(--color-orange), var(--color-pink), var(--color-purple2), var(--color-purple));
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 60vw;
    padding:50px;
    margin:20px auto;
    clip-path: polygon(3vw 0, 100% 0%, calc(100% - 3vw) 100%, 0% 100%);

    h1::after{
      width: 0;
      height: 0;
      display: none;  
    }
}