section{
    padding:0;
    height: calc(100vh + 60px);
}

#welcome{
	background: linear-gradient(-45deg, var(--color-yellow2), var(--color-yellow), var(--color-orange), var(--color-pink), var(--color-purple2), var(--color-purple), var(--color-purple));
  background-size: 120% 120%;
  animation: gradient 15s ease infinite;
  display: flex;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10vh), 0 100%);
  height:80vh;
  width: 100vw;
  flex-direction: column;
  padding-top:var(--navbar-height);
  margin-top:var(--navbar-height-negative);
  padding: 5vw;

  @media only screen and (min-width: 768px) {
      padding: 10vw;
  }

  p {
      font-family: 'Lato';
      font-weight: 300;
      font-size: 1.25em;
      text-align: center;
  }

  h1 {
      font-size: 3em !important;
  }

  h1::after{
    width: 0;
    height: 0;
    display: none;
  }
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

#arrow {
    color:var(--color-pink);

    .line{
        width:0px;
        height:15vh;
        border:1px solid var(--color-pink);
    }

    .arrow-end{
        font-size:2.5em;
        line-height: 20px;
        margin-top:-11px;
    }
}
