section{
    padding:0;
    height: calc(100vh + 60px);
}

#welcome{
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10vh), 0 100%);
  height:80vh;
  width: 100vw;
  flex-direction: column;
  margin-top:var(--navbar-height-negative);
  padding: 5vw;
  animation: AnimateBG 230s ease infinite;
  text-shadow: 0 0 100px var(--color-purple);
  background: var(--color-purple);
	background: linear-gradient(-45deg, var(--color-yellow2), var(--color-yellow), var(--color-orange), var(--color-pink), var(--color-purple2), var(--color-purple));
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/stars.png),linear-gradient(-210deg,#38438b, #7d3fe2, #e1588b, #ff7e71, #ffeb68);
  // background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/stars.png) repeat;

  @media only screen and (min-width: 768px) {
      padding: 10vw;
  }

  p {
      font-family: 'Lato';
      font-weight: 300;
      font-size: 1.25em;
      text-align: center;
      max-width: 700px;
      text-shadow: 0 0 70px var(--color-purple-darker);
  }

  h1 {
      font-size: 3em !important;
      text-shadow: 0 0 100px var(--color-purple-darker);
      text-shadow: 0 0 100px var(--color-purple-darker);
  }

  h1::after{
    width: 0;
    height: 0;
    display: none;
  }
}


@keyframes AnimateBG {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}

#arrow {
    color:var(--color-pink);

    .line{
        width:0px;
        height:15vh;
        border:1px solid var(--color-pink);
    }

    .arrow-end{
        font-size:2.5em;
        line-height: 20px;
        margin-top:-11px;
    }
}

@keyframes move-background {
  from {
		-webkit-transform: translate3d(0px, 0px, 0px);
	}
	to {
		-webkit-transform: translate3d(1000px, 0px, 0px);
	}
}

@-webkit-keyframes move-background {
  from {
		-webkit-transform: translate3d(0px, 0px, 0px);
	}
	to {
		-webkit-transform: translate3d(1000px, 0px, 0px);
	}
}

@-moz-keyframes move-background {
	from {
		-webkit-transform: translate3d(0px, 0px, 0px);
	}
	to {
		-webkit-transform: translate3d(1000px, 0px, 0px);
	}
}

@-webkit-keyframes move-background {
	from {
		-webkit-transform: translate3d(0px, 0px, 0px);
	}
	to {
		-webkit-transform: translate3d(1000px, 0px, 0px);
	}
}

.background-container{
	position: fixed;
	top: 0;
	left:0;
	bottom: 0;
	right: 0;
}

.stars {
  background: black url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/stars.png) repeat;
  position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: block;
  z-index: 0;
}

.twinkling{
	width:10000px;
	height: 100%;
	background: transparent url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/twinkling.png") repeat;
	background-size: 1000px 1000px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 2;

    -moz-animation:move-background 70s linear infinite;
  -ms-animation:move-background 70s linear infinite;
  -o-animation:move-background 70s linear infinite;
  -webkit-animation:move-background 70s linear infinite;
  animation:move-background 70s linear infinite;

}
