<section>
    <div id="welcome">
        <p>
            Hello!
            <span class="material-symbols-outlined small">waving_hand</span>
            I'm
        </p>
        <h1>Belen Carrion</h1>
        <p>I’m a web developer from Madrid, Spain with a strong passion for front-end development and UX Design</p>
    </div>
    <div id="arrow" class="d-flex justify-content-start align-items-center flex-column">
        <div class="line"></div>
        <span class="material-symbols-outlined arrow-end">
            expand_more
        </span>
    </div>
</section>
