<section>
    <div class="container">
        <h1>About me</h1>
        <p>
          Hello! 👋🏻 My name is <span class="highlight">👩🏻‍💻 Belen Carrion</span>
          and I’m from  <span class="highlight">📍 Madrid, Spain</span>.</p>
          <p>
          From a young age I have been interested in technology and computers in particular. Growing up, I knew this was the career I wanted to pursue and graduated from  <span class="highlight">🎓Computer Science Engineering</span>. I later completed  my masters in  <span class="highlight"> 🎓Computer Science and Technology</span>.
          </p>
          <p>
          And since then,  I have been working as a full stack <span class="highlight">🖥 web developer</span>, building web applications for multiple purposes using different technologies.
          </p>
          <p>
          My three main areas of interest are <span class="highlight">💻 front end development</span>,  <span class="highlight">🎨 ux design</span> and  <span class="highlight">🦾 accessibility</span>. My goal is to build products that can be used by as many people as possible and have a positive impact in their lives. While doing this, I find it very important not leave anyone behind.  Although web development is what I do, I have a strong interest for UX Design as well. Having completed Google UX Design certificate.
          </p>
          <p>
          In my free time, I love to <span class="highlight">⛸ skate</span>
          and <span class="highlight">✈️ travel the world</span>. I also have a cat named <span class="highlight">🐈 Lia</span>.
          <!-- Bonus points if you find her in my page ;) -->
        </p>
    </div>
</section>
