<section>
    <div class="container">
        <h1>About me</h1>  
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eu est libero. Aenean risus mi, rhoncus at purus id, sodales bibendum nisi. Integer pellentesque nunc in metus tincidunt, eget aliquet orci sagittis. Curabitur vel mattis dui, lacinia malesuada ipsum. Fusce a turpis ligula. Mauris a leo ullamcorper, condimentum lacus vel, ornare neque. Vestibulum turpis odio, egestas a cursus ut, vulputate non urna. Phasellus convallis nisi vitae augue bibendum dignissim. Proin et sagittis libero, vitae egestas est. Interdum et malesuada fames ac ante ipsum primis in faucibus.
        </p> 
    </div>
</section>