<div class="card">
    <img class="card-img-top" src='{{ "assets/img/" + project.image }}' [alt]="project.name">
    <div class="card-body">
        <h5 class="card-title">{{ project.name }}</h5>
        <p class="card-text">{{ project.description }}</p>
        <p class="tags">
          <span *ngFor="let tag of project.tags" class="highlight">{{ tag }}</span>
        </p>
    </div>
    <div class="card-footer d-flex flex-row justify-content-space-between">
        <ul class="wrapper">
          <li class="icon facebook">
              <span class="tooltip">View</span>
              <a [href]="project.url" target="_blank"><i class="fa-solid fa-eye"></i></a>
          </li>
          <li class="icon twitter">
            <span class="tooltip">View code</span>
            <a [href]="project.github" target="_blank"><i class="fa-brands fa-github"></i></a>
          </li>
      </ul>
    </div>
</div>
