<div class="card" style="width: 18rem;">
    <img class="card-img-top" src='{{ "assets/img/" + project.image }}' [alt]="project.name">
    <div class="card-body">
        <h5 class="card-title">{{ project.name }}</h5>
        <p class="card-text">{{ project.description }}</p>
        <p class="tags">
          <span *ngFor="let tag of project.tags" class="highlight">{{ tag }}</span>
        </p>
        <div class="d-flex flex-row justify-content-space-between">
            <a [href]="project.url" target="_blank" class="btn btn-primary half-width">
                <i class="fa fa-solid fa-eye"></i>
                View
            </a>
            <a [href]="project.github" target="_blank" class="btn btn-secondary btn-icon half-width">
                <i class="fa fa-brands fa-github"></i>
            </a>
        </div>
    </div>
</div>
