<section>
    <div class="container">
        <h1>Contact me</h1>
        <p>Hello! Feel free to connect with me in any of the following ways:</p>  
        <div id="contact-links">
            <a class="btn btn-primary" href="mailto:belencarriondev@gmail.com">
                <i class="fa-solid fa-paper-plane"></i>
                E-mail
            </a>
            <a class="btn btn-primary" href="https://www.linkedin.com/in/belen-carrion/" target="_blank">
                <i class="fa-brands fa-linkedin-in"></i>
                Linkedin
            </a>
            <a class="btn btn-primary">
                <i class="fa-brands fa-github"></i>
                Github
            </a>
        </div>
        <!--
        <p>Or send me a message using the form below:</p>
        <form>
            <div class="row">
                <div class="col-md-6 form-group">
                    <input type="text" class="form-control" id="name" aria-describedby="Bob" placeholder="Your name">
                </div>
                <div class="col-md-6 form-group">
                    <input type="email" class="form-control" id="email" aria-describedby="example@domain.com" placeholder="Your email">
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <textarea class="form-control" id="message" rows="3" placeholder="Your message"></textarea>
                </div>
            </div>
            <div class="row d-flex justify-content-end">
                <button class="btn btn-primary">
                    Send
                </button>
            </div>
        </form> -->
    </div>
</section>