@import './app/shared/variables';

section {
    margin:0;
}
html, body {
    height: 100%;
}

html {
    height: -webkit-fill-available;
}

body {
    margin: 0;
    font-family: 'Lato', Roboto, "Helvetica Neue", sans-serif;
    min-height: 100vh;
    /* mobile viewport bug fix */
    min-height: -webkit-fill-available;
}

@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait) {
  body {
      height: 1024px;
  }
}

/* iPad with landscape orientation. */
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:landscape) {
  body {
      height: 768px;
  }
}

/* iPhone 5
You can also target devices with aspect ratio. */                       @media screen and (device-aspect-ratio: 40/71) {
  body {
      height: 500px;
  }
}

p{
    font-family: 'Lato';
    font-weight: 300;
    text-align: justify;
}

.half-width {
    width:50%;
}

h1{
    font-family: 'Yeseva One' !important;
    font-size: 2.5em !important;
    text-align: center;
    padding-bottom: 5px;
}

h1::after {
    content: "";
    display: block;
    background: none repeat scroll 0 0 transparent;
    height: 1px;
    background: var(--color-pink);
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 15vw;
    margin: 10px auto 0 auto;
}

.btn {
    transition: 0.2s;
    padding: 10px;

    i {
        margin-right:10px;
    }
}

// .btn {
//     --bg: black;
//     --hover-bg: var(--color-pink);
//     --hover-text: black;
//     color: white;
//     transition: 0.2s;
//     padding: 10px;
// }

// .btn:hover {
//     color: black;
//     transform: translate(-0.25rem,-0.25rem);
//     box-shadow: 0.25rem 0.25rem black;
// }

// .btn:active {
//     transform: translate(0);
//     box-shadow: none;
// }
